{% extends "base.html" %}

{% block content %}
{% if file_name %}
<div class="alert alert-primary" role="alert">
    {{ file_name }}
    <a class="nav-link" href="collections">Value counter</a>
</div>

{% endif %}
<table class="table">
    <thead>
        <tr>
            {% for col_name in columns %}
            <th scope="col">{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in values %}
        <tr>
            <th scope="row">
                <a href="/collection/{{ row.0 }}">{{ row.timestamp }}</a>
            </th>
            <th scope="row">
                <a href="/collection/{{ row.0 }}">{{ row.file_name }}</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href={{ load_more }}>
    <button type="button" class="btn btn-primary">Load more</button>
</a>
{% endblock %}
